select {
 margin:10px 10px;
 width:200px;
}

button {
 margin: 0px 10px;
}

form input {
 margin:10px 10px;
 width:200px;
}

table a {
 font-size: 12px;
 text-decoration: none;
}

td {
	vertical-align:middle;
	border:1px solid #000000;
	text-align:left;
	padding:8px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
}

#header {
 text-align: center;
 margin: 0 auto;
 width: 860px;
 height: 70px;
}

#optionPanel {
 text-align: left;
 margin: 0 auto;
 width: 860px;
 height: 90px;
}

#selectBlock1 {
 float: left;
 width: 600px;
 height: 90px;
}

#selectBlock2 {
 float: right;
 width: 260px;
 height: 90px;
}

#body {
 text-align: center;
 margin: 0 auto;
 width: 860px;
}

#inputFilterTitle {
 margin: 10px 10px;
 width: 300px;
}

#inputTitle {
 margin: 2px;
 width: 300px;
}

#selectTechnology {
 margin: 2px;
 width: 200px;
}

#inputDescription {
 margin: 2px;
 width: 320px;
 height: 200px;
 resize: none;
}

#inputFilePath {
 margin-top: 20px;
 margin-left: 0px;
 margin-bottom: 0px;
 width: 300px;
}

#bookEditFoot {
 margin-top: 20px;
}

#selectFile {
 margin-top: 0px;
 position: absolute;
}

#buttonUpload {
 width: 80px;
 margin-bottom: 0px;
}

#result {
 width: 200px;
 margin-left: 100px;
}

.blockSelectFile {
position: absolute;
z-index: 3;
width: 150px;
height: 21px;
margin-left: -155px;
}

.customFile {
width: 219px;
margin-left: -140px;
cursor: default;
height: 21px;
z-index: 2;
filter: alpha(opacity: 0);
opacity: 0;
}

.newFileButton {
position: absolute;
z-index: 1;
width: 85px;
height: 21px;
}

.selectEditBookPA {
 margin: 2px;
 width: 250px;
}

.label {
 width: 70px;
 display: block;
 float: left;
 margin-top: 2px;
}

.label2 {
 width: 150px;
 margin-top: 5px;
}

.pUserEdit {
 text-align: right;
}

.pBookEdit {
 margin-left: 12px;
 float: left;
}

.userEditHead {
 text-align: center;
 margin: 0px auto;
 width: 400px;
}

.userEdit {
 text-align: right;
 margin: 0px auto;
 width: 400px;
}

.bookEditForm {
 text-align: left;
 margin: 0px auto;
 width: 420px;
}

.userEditFoot {
 text-align: center;
 margin: 0px auto;
 width: 400px;
}

.aUserEdit {
 font-size: 14px;
 margin: 0px 10px;
}

.tableBooks {
 margin:0px auto;
 padding:0px;
 font-weight: bold;
 border:0px solid #000000;
 border-spacing: 0;
}

.tablePages {
 margin:0px auto;
 padding:0px;
 font-weight: bold;
 border:0px solid #000000;
 border-spacing: 0;
}

.tdPages {
	border:0px solid #000000;
	text-align:right;
}

.tdOptionPanel {
	border:0px solid #000000;
	text-align:left;
}

.tdHeaderPanel {
	border:0px solid #000000;
	text-align:right;
}

.numPages {
	font-size:12px;
	color:Black;
}

.selectedPage {
	font-size:14px;
	color:Black;
}

.col1 { width: 320px; }
.col2 { width: 280px; }
.col3 { width: 120px; }
.col4 { width: 140px; }

.userCol1 { width: 120px; }
.userCol2 { width: 180px; }

.trTitleBooks {
	background-color:#b2b2b2;
	border:1px solid #000000;
	text-align:center;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
}
