#header {
 text-align: center;
 margin: 0 auto;
 width: 860px;
 height: 70px;
}

#optionPanel {
 text-align: left;
 margin: 0 auto;
 width: 860px;
 height: 90px;
}

#selectBlock1 {
 float: left;
 width: 600px;
 height: 90px;
}

#selectBlock2 {
 float: right;
 width: 260px;
 height: 90px;
}

#body {
 text-align: center;
 margin: 0 auto;
 width: 860px;
}

select {
 margin:10px 10px;
 width:200px;
}

input {
 margin:10px 10px;
 width:200px;
}

button {
 margin: 0px 10px;
}

#inputFilterTitle {
 margin: 10px 10px;
 width: 300px;
}

.pUserEdit {
 text-align: right;
}

.userEditHead {
 text-align: center;
 margin: 0px auto;
 width: 400px;
}

.userEdit {
 text-align: right;
 margin: 0px auto;
 width: 400px;
}

.userEditFoot {
 text-align: center;
 margin: 0px auto;
 width: 400px;
}

a {
 font-size: 12px;
 text-decoration: none;
}

.aUserEdit {
 font-size: 14px;
 margin: 0px 10px;
}

.tableBooks {
 margin:0px auto;
 padding:0px;
 font-weight: bold;
 border:0px solid #000000;
 border-spacing: 0;
}

.tablePages {
 margin:0px auto;
 padding:0px;
 font-weight: bold;
 border:0px solid #000000;
 border-spacing: 0;
}

.tdPages {
	border:0px solid #000000;
	text-align:right;
}

.tdOptionPanel {
	border:0px solid #000000;
	text-align:left;
}

.tdHeaderPanel {
	border:0px solid #000000;
	text-align:right;
}

.selectedPage {
	font-size:14px;
	color:Blue;
}

.col1 { width: 320px; }
.col2 { width: 280px; }
.col3 { width: 120px; }
.col4 { width: 140px; }

.userCol1 { width: 120px; }
.userCol2 { width: 180px; }

td {
	vertical-align:middle;
	border:1px solid #000000;
	text-align:left;
	padding:8px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
}

.trTitleBooks {
	background-color:#b2b2b2;
	border:1px solid #000000;
	text-align:center;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
}
